:root {
    --sp-primary-dark: #141922;
    --sp-banner-bg: #080B12;
    --sp-primary-light: #FFFFFF;
    --sp-primary-text: #A3A3A3;
    --sp-secondary-text: #707070;
    --sp-accent: #ADFF2F;
    --sp-bottom-bg: #282828;
    --sp-sidebar-bg: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
html, body{
    height: 100vh;
}
body {
    font-family: 'Poppins';
}


/* utilities */

.j-sb {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
}

[class^="col"] {
    padding: 1.5rem;
}

.col {
    width: auto;
    flex-basis: auto;

}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}

/* .d-none {
    display: none;
} */

/* end utilities */
/* top */
.top .sidebar {
    height: calc(100vh - 7rem);
    background-color: var(--sp-sidebar-bg);
    width: 15rem;
    flex-direction: column;
    font-weight: 500;
    overflow-y: auto;

    .small-logo {
        width: 24px;
        display: none;
    }

    .top-sidebar {
        padding-right: 3rem;
    }

    .logo {
        padding: 1.3rem;
    }

    .nav-link {
        ul {
            li {
                display: flex;
                align-items: center;
                padding: .2rem 1.3rem;
                gap: .2rem;
                font-size: .8rem;

                img {
                    display: block;
                    width: 1.5rem;
                }
            }
        }

        a {
            text-decoration: none;
            color: var(--sp-secondary-text);
            &:hover{
                color: var(--sp-primary-light);
            }
        }

        .active {
            border-left: 2px solid var(--sp-accent);

            a {
                color: var(--sp-primary-light);
                font-weight: 500;
            }
        }

    }

    .playlist {
        padding: 1.6rem 1.3rem;
        color: var(--sp-secondary-text);
        

        h3 {
            font-size: .8rem;
            color: var(--sp-primary-light);
            &:hover{
                color: var(--sp-primary-light);
            }
            cursor: pointer;
        }

        li {
            padding: .5rem 0;
            font-size: .8rem;
            list-style: none;
            &:hover{
                color: var(--sp-primary-light);
            }
            cursor: pointer;
        }

        li.d-flex {
            align-items: center;
            gap: .4rem;

            .add {
                width: 2rem;
                height: 2rem;
                background-color: var(--sp-primary-text);
                align-items: center;
                justify-content: center;
                color: var(--sp-sidebar-bg);

            }
        }

    }

    .bottom-sidebar {
        padding: 0 1.3rem;
        color: var(--sp-secondary-text);
        font-size: .8rem;

        .d-flex {
            gap: .5rem;
            align-items: center;
            margin-bottom: .3rem;
            &:hover{
                color: var(--sp-primary-light);
            }
        }

        span {
            display: block;
        }

        img {
            width: 15px;
            display: block;
        }

        hr {
            border: 1px solid var(--sp-secondary-text);

        }

        .profile {
            color: var(--sp-primary-light);
            gap: .5rem;
            font-size: .9rem;
            font-weight: 600;
            margin: .8rem 0;

            .profile-icon {
                background-color: var(--sp-primary-text);
                border-radius: 2rem;
                width: 20px;
                overflow: hidden;

                img {
                    display: block;
                    width: 20px;
                }
            }
        }
    }
}


main {

    height: calc(100vh - 7rem);
    overflow-y: auto;
    width: 100%;
    background-color: var(--sp-primary-dark);

    .banner {

        background-color: var(--sp-banner-bg);
        position: sticky;
        top: 0;
        left: 0;
        padding: 1rem;
        text-align: right;
        z-index: 10;

        a.upgrade-btn {
            text-decoration: none;
            font-size: .8rem;
            font-weight: 600;
            color: var(--sp-primary-light);
            padding: .6rem 2rem;
            border: 1.5px solid var(--sp-primary-light);
            border-radius: 3rem;
            display: inline-block;
            margin-bottom: .5rem;
            &:hover{
                font-size: .9rem;
                transition: .2s;
            }

        }
    }

    ul {
        margin-top: 1rem;
        justify-content: center;
        gap: 1rem;
        color: var(--sp-primary-text);

        li {
            list-style: none;
            font-size: .8rem;
            font-weight: 500;

            &:hover {
                color: var(--sp-primary-light);
                cursor: default;
            }

            &:first-of-type::after {
                content: " ";
                display: block;
                border: 1px solid var(--sp-accent);
                width: 30%;
                margin: auto;
            }
        }
    }

    section {
        padding-left: 1rem;
        padding-right: 2rem;

        .card-img {
            position: relative;

            .play-btn {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000088;
                justify-content: center;
                align-items: center;
                transition: .3s;

                .fa-circle-play {
                    color: var(--sp-primary-light);
                    font-size: 3rem;
                }
            }

            &:hover {

                .play-btn {
                    opacity: 1;
                }
            }
        }



        h2 {
            color: var(--sp-primary-light);
            margin: 1rem 0;
            font-size: 1.7rem;
        }

        .card-title {
            color: var(--sp-primary-light);
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            margin-top: .5rem;
        }

        .subtitle-card {
            color: var(--sp-primary-text);
            text-align: center;
            font-size: .7rem;
            font-weight: 600;
            margin-top: .3rem;
        }
    }
    #for-you{
        h2{
            margin-bottom: .5rem;
        }
        p{
            color: var(--sp-primary-text);
            font-size: .7rem;
            font-weight: 500;
            
        }
    }
    #artist{
        h2{
            margin-bottom: .5rem;
        }
        p{
            color: var(--sp-primary-text);
            font-size: .7rem;
            font-weight: 500;
        }
        .card-img{
            img{
                border-radius: 100%;
            }            
        }
    }
}

/* end top */
/* bottom */
.bottom {
    width: 100vw;
    height: 7rem;
    .control-center {
        width: 100%;
        height: 100%;
        background-color: var(--sp-bottom-bg);
        .track{
            padding: 1.5rem 1rem 2rem;
            align-items: center;
            gap: 1rem;
            .track-img{
                height: 100%;
                img{
                    height: 100%;
                }
            }
        }
        .title-track{
            padding-right: 1.5rem;
        }
        .title-track div:first-of-type{
            color: var(--sp-primary-light);
            font-size: .9rem;
            font-weight: 600;
            line-height: 80%;
        }
        .title-track div.name-track{
            color: var(--sp-primary-text);
            font-size: .7rem;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                color: var(--sp-primary-light);
                text-decoration: underline;
            }
        }
        .track-icons{
            color: var(--sp-primary-text);
            gap: .8rem;
            .fa-folder{
                cursor: pointer;
                &:hover{
                    color: var(--sp-primary-light);
                }
            }
            .fa-heart{
                cursor: pointer;
                &:hover{
                    color: var(--sp-primary-light);
                }
            }
        }


        .controls{
            color: var(--sp-primary-light);
            align-items: center;
            padding: 1.5rem 1rem 2rem;
            gap: 1rem;
        }
        .soundbar{
            width: 7.5rem;
            height: 4px;
            background-color: var(--sp-secondary-text);
            border-radius: 1rem;
        }
        .soundbar-filler{
            width: 20%;
            background-color: var(--sp-primary-light);
            height: 100%;
            border-radius: 1rem;
            position: relative;
        }
        .circle{
            height: 10px;
            width: 10px;
            background-color: var(--sp-primary-light);
            border-radius: 100%;
            position: absolute;
            left: 80%;
            top: -50%;
            bottom: -50%;
            opacity: 0;
        }
        .soundbar:hover{
            .soundbar-filler{
                background-color: var(--sp-accent);
                transition: .2s;
                .circle{
                    opacity: 1;
                    transition: .2s;
                }
            }
        }
        .player{
            flex-grow: 1;
            padding: 1rem 0 1.5rem;
        }
        .player-wrapper{
            margin: auto;
        }
        .top-player{
            color: var(--sp-primary-light);
            font-size: 1.2rem;
            justify-content: center;
            gap: 2rem;
            align-items: center;

        }
        .fa-circle-play{
            font-size: 2.3rem;
            cursor: pointer;
            &:hover{
                font-size: 2.4rem;

            }
        }
        .bottom-player{
            justify-content: center;
            align-items: center;
            gap: 1.7rem;
            margin-top: 1.2rem;
            .time{
                color: var(--sp-primary-light);
                font-size: .6rem;
                font-weight: 600;
                
            }
            .soundbar{
                width: 50%;
                
                .circle{
                    left: 92%;
                }
            }
        }
        
    }
}

/* end bottom */









/* media query */
/* 768px */
@media screen and (max-width:768px) {
    .top .sidebar{
        .top-sidebar{
            padding-right: 2rem;
        }
        .nav-link{
            ul li{
                font-size: .6rem;
                img{
                    width: 1rem;
                }
                
            }
        }
        .playlist{
            padding-right: 0;
            ul li{
                font-size: .6rem;
                white-space: nowrap;
                padding: .3rem 0;
                img{
                    width: 1rem;
                }
            }
        }
        .bottom-sidebar{
            font-size: .6rem;
            .profile{
                font-size: .7rem;
            }
        }
    }
    main ul{
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 .5rem;
        gap: 1rem 0;
        li{
            width: 17%;
            display: block;
            font-size: .7rem;
        }
    }
    .row{
        margin: 0 -0.5rem;
    }
    .col-2{
        width: calc(100%/12*3);
        padding: .5rem;
        .card-title{
            font-size: .7rem;
        }
        .subtitle-card{
            font-size: .6rem;
        }
    }
    main section h2{
        font-size: 1.3rem;
    }
    main #artist p, main #for-you p{
        font-size: .6rem;
    }
    .bottom{
        .control-center{
            .track{
                padding-right: 0;
            }
            .title-track{
                padding: 0;
            }
            .title-track div:first-of-type{
                font-size: .7rem;
            }
            .title-track div.name-track{
                font-size: .6rem;
            }
            .top-player{
                gap: 1rem;
            }
            .controls{
                font-size: .7rem;
                padding-left: 0;
                .soundbar{
                    width: 4rem;
                }
            }
        }
    }
    .top-player{
        font-size: .7rem;
        .fa-circle-play{
            font-size: 1.5rem;
        }
    }


}

/* end 768px */

/* 576px */
@media screen and (max-width:576px) {
    .col-2{
        width: calc(100%/12*6);
    }
    main section h2{
        
        margin-top: 1.5rem;
    }
    
    main ul {
        text-align: center;
        column-gap: 1.1rem;
        li{
            width: 30%;
            font-size: .6rem;
        }
    }
    .top .sidebar{
        height: calc(100vh - 6rem);
        .playlist{
            padding-top: .7rem;
            h3{
                font-size: .7rem;
            }
        }
    }
    main{
        height: calc(100vh - 6rem);
    }
    .bottom{
        height: 6rem;
        .control-center{
            .track-icons{
                flex-direction: column;
                gap: 0;
            }
            .top-player{
                font-size: 1.2rem;
                .fa-circle-play{
                    font-size: 2rem;
                }
            }
            .bottom-player{
                gap: 0.7rem;
            }
        }
    }
}

/* end 576px */

/* 425px */
@media screen and (max-width:425px) {
    .top .sidebar {
        width: 2.7rem;
        padding: .5rem 0;
        

        .top-sidebar {
            padding: 0;

            .active {
                border: none;
            }

            .logo {
                padding: 0;

                img {
                    margin: auto;
                }

            }
        }

        .nav-link ul li {
            padding: .5rem 0;
            
            justify-content: center;

        }

        .d-none {
            display: none;
        }

        .small-logo {
            display: block;
        }

        .bottom-sidebar {
            padding: 0;

            hr {
                display: none;
            }

            .d-flex {
                justify-content: center;
            }
        }
    }
    main .banner{
        a.upgrade-btn{
            font-size: .6rem;
            padding: .4rem 2rem;
        }
    }
    main ul {
        row-gap: 1rem;
        column-gap: .8rem;
        white-space: nowrap;
        justify-content: center;
        li{
        width: 20%;}
        
    }
    .bottom{
        .control-center{
            .track{
                gap: .4rem;
                .track-img{
                    width: 2rem;
                    height: 2rem;
                }
                .track-icons{
                    font-size: .7rem;
                }
            }
            .title-track div:first-of-type{
                font-size: .6rem;
            }
            .title-track div.name-track{
                font-size: .5rem;
            }
            .top-player{
                font-size: 1rem;
                .fa-circle-play{
                    font-size: 1.5rem;
                }
            }
            .controls{
                gap: .3rem;
                .soundbar{
                    width: 2rem;
                }
            }
        }
    }


}

/* end 425px */

/* end media query */